# BASE
BOT_DEBUG_CHAN="debugging channel id"
BOT_API_URL="http://localhost:8065/api/v4"
BOT_TOKEN="bot access token"
BOT_WS_URL="ws://localhost:8065"
BOT_DB_URL="file:flobot.db"

# TRIGGER
BOT_TRIGGER_DELAY_SECONDS="120"

# JOKES
BOT_BLAGUESAPI_TOKEN="...tok..."

# SMS
BOT_OCTOPUSH_LOGIN="...login..."
BOT_OCTOPUSH_APIKEY="...apikey..."

# WEATHER
BOT_METEO_CITIES="city1,city2,..."
