BOT_DEBUG_CHAN="debugging channel id"
BOT_API_URL="http://localhost:8065/api/v4"
BOT_TOKEN="bot access token"
BOT_WS_URL="ws://localhost:8065"
BOT_DB_URL="file:flobot.db"
BOT_TRIGGER_DELAY_SECONDS="120"
BOT_BLAGUESAPI_TOKEN="...tok..."
