[Unit]
Description=FloBot
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/bot/
ExecStartPre=!/home/bot/flobot.sh bot
ExecStart=/home/bot/flobot
Restart=always
RestartSec=5s
User=bot

[Install]
WantedBy=multi-user.target
